In [2]:
import pandas as pd
import numpy as np

In [64]:
df=pd.DataFrame({"Student name":["Ram","Ganesh","Anand","Mukesh","Shankar","Chinmay","Aman"],
                 "GMAT Score":[750,720,710,690,670,650,600],
                 "Work Exp":[0,1,2,0,4,6,1],
                 "International Awards":[4,2,0,1,2,2,0],
                 "Admission":["Yes","Yes","No","No","Yes","Yes","No"]
    
                })

In [65]:
df

  Student name  GMAT Score  Work Exp  International Awards Admission
0          Ram         750         0                     4       Yes
1       Ganesh         720         1                     2       Yes
2        Anand         710         2                     0        No
3       Mukesh         690         0                     1        No
4      Shankar         670         4                     2       Yes
5      Chinmay         650         6                     2       Yes
6         Aman         600         1                     0        No

In [73]:
feature_data=df.iloc[:,1:-1]
feature_data
target_data=df["Admission"]
target_data

0    Yes
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
Name: Admission, dtype: object

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
mn=MinMaxScaler()

In [70]:
feature_data_scaled=mn.fit_transform(feature_data)

array([[1.        , 0.        , 1.        ],
       [0.8       , 0.16666667, 0.5       ],
       [0.73333333, 0.33333333, 0.        ],
       [0.6       , 0.        , 0.25      ],
       [0.46666667, 0.66666667, 0.5       ],
       [0.33333333, 1.        , 0.5       ],
       [0.        , 0.16666667, 0.        ]])

In [75]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=)

In [ ]:
knr.